[mysql]
prompt=\\u@\\h [\\d]>\\_
auto-rehash
default-character-set=utf8

[client]
user=root
pager=less -SFX
default-character-set=utf8

[mysqld]
collation-server = utf8_unicode_ci
init-connect='SET NAMES utf8'
character-set-server = utf8
